.line {
    fill: none;
    /*stroke: #191970;*/
    stroke: #00FF7F;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axisWhite line{
    stroke: white;
}

.axisWhite path{
    stroke: white;
}

.axisWhite text{
    fill: white;
}

.bar{ 
    fill: steelblue; 
}

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}


.background.bar {
    fill: #ccc;
  }

  .foreground.bar {
    fill: steelblue;
  }

  .brush-handle {
    fill: #eee;
    stroke: #666;
  }

.dc-chart .axis{
  color: #ffffff;
}